<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog {% block title %}{% endblock %}</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap" rel="stylesheet">
    <script>
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark')
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
</head>

<body class="flex flex-col h-screen dark:bg-gray-600 dark:text-white font-cabin text-gray-600 transition ease-in-out duration-500">
    {% include "frontoffice/navigation/front_navigation.html.twig" %}
<main class="container flex-grow mx-auto">
    <div class="mb-4">
        {% for key, message in flashes %}
            {% if key == 'error' %}
                <p class="{{ key }}"> {{ message }} </p>
            {% endif %}
            {% if key == 'success' %}
                <p class="{{ key }}"> {{ message }} </p>
            {% endif %}
        {% endfor %}
    </div>
    {% block content %}
    {% endblock %}

</main>
<footer>
    {% include "frontoffice/footer/footer.html.twig" %}
</footer>
</body>
<script src="js/app.js"></script>
</html>
