<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Blog {% block title %}{% endblock %}</title>
        <link href="css/style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap" rel="stylesheet">
    </head>

    <body class="font-cabin">
        <!-- Navigation -->
        {% include "frontoffice/navigation/front_navigation.html.twig" %}
        <!-- Page Header -->
        <header>
            <h1 class="">Bonjour, je suis Sullivan Berger</h1>
        </header>

        <main>
{#            {% for message in flashes %} #}{# TODO Gérer les différents type de message flash #}
{#                <h2 class="danger"> {{ message }} </h2>#}
{#            {% endfor %}#}
            {% block content %}{% endblock %}
        </main>

        <footer class="footer text-center">
        </footer>
    </body>
    <script src="js/app.js"></script>
</html>
