<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Blog {% block title %}{% endblock %}</title>
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Navigation -->

        <!-- Page Header -->
        <header>
            <h1>Blog</h1>
        </header>

        <main>
{#            {% for message in flashes %} #}{# TODO Gérer les différents type de message flash #}
{#                <h2 class="danger"> {{ message }} </h2>#}
{#            {% endfor %}#}
            {% block content %}{% endblock %}
        </main>

        <footer class="footer text-center">
        </footer>
    </body>
</html>
