{% extends "/backoffice/base.html.twig" %}

{% block content %}
<section class="py-8 px-4">
    <h1 class="text-2xl sm:text-4xl font-bold py-8">Tableau de bord</h1>
    <div class="grid grid-cols-4 gap-4">
        <div class="flex items-baseline justify-center space-x-4 bg-gray-50 rounded border border-indigo-500">
            <p class="text-xl sm:text-2xl font-bold text-indigo-500 py-8">39</p>
            <p class="font-bold text-indigo-500">articles en ligne</p>
        </div>
        <div class="flex items-baseline justify-center space-x-4 bg-gray-50 rounded border border-indigo-500">
            <p class="text-xl sm:text-2xl font-bold text-indigo-500 py-8">12</p>
            <p class="font-bold text-indigo-500">brouillons</p>
        </div>
        <div class="flex items-baseline justify-center space-x-4 bg-gray-50 rounded border border-indigo-500">
            <p class="text-xl sm:text-2xl font-bold text-indigo-500 py-8">17</p>
            <p class="font-bold text-indigo-500">utilisateurs</p>
        </div>
        <div class="flex items-baseline justify-center space-x-4 bg-gray-50 rounded border border-indigo-500">
            <p class="text-xl sm:text-2xl font-bold text-indigo-500 py-8">58</p>
            <p class="font-bold text-indigo-500">commentaires en ligne</p>
        </div>
        <div class="flex items-baseline justify-center space-x-4 bg-gray-50 rounded border border-indigo-500">
            <p class="text-xl sm:text-2xl font-bold text-indigo-500 py-8">7</p>
            <p class="font-bold text-indigo-500">commentaires en attente de vérification</p>
        </div>
    </div>
</section>
{% endblock %}
